@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");
body {
  font-family: "poppins", sans-serif;
  margin: 0px;
  background-image: url(./img/80purp.jpg);
  background-size: 100%;
}

nav {
  background-color: #3b2d4c;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  width: 100%;
  box-sizing: ;
  height: 65px;
  border-left: 0px;
  border-right: 0px;
  border-color: #af8ae2;
  border-style: solid;
  text-decoration: none;
  position: fixed;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #ffffff;
  padding-right: 50px;
  padding-top: 10px;

  list-style: none;
}

.logo {
  margin-left: 10px;
}

a:link {
  text-decoration: none;
  color: aliceblue;
}
a:visited {
  color: aliceblue;
}

.menu-icon {
  height: 30px;
  margin-right: 40px;
  padding-top: 12px;

  margin-left: 50px;

  width: 30px;
}
.hola {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: px;
}
.portada-text {
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
  padding-right: 50px;
}
.h1portada {
  font-size: 48px;
}
.pportada {
  font-size: 25px;
}

.simio {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  padding: 20px;
  background-color: rgb(82, 49, 97);
}
.section1 {
  margin: 80px;
  gap: 100px;
  padding-left: 120px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 {
  max-width: 1200px;
  margin: 20px 100px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;

  padding-left: 80px;
}

footer {
  margin-top: 40px;
  background-color: black;
  content-visibility: auto;

  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
